* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  padding: 20px 40px;
}
main .title {
  width: 100%;
  text-align: center;
  color: #13363a;
}
main .cardsBox {
  width: 1000px;
  margin: 20px auto 0;
  padding: 20px 270px;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 35px;
  column-gap: 80px;
}
main .cardsBox .card {
  width: 100px;
  height: 150px;
  border-radius: 15px;
  cursor: pointer;
}
main .cardsBox .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
main .cardsBox .card.reverse {
  transform: rotateY(180deg);
}
main .result {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
  color: #13363a;
}
main .counters {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
main .counters .scoreBox {
  width: 50%;
  text-align: center;
}
main .counters .scoreBox span {
  color: #13363a;
  font-size: 23px;
}
main .counters .time {
  width: 50%;
  color: #13363a;
  font-size: 23px;
  text-align: center;
}