* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: 100vh;
}
.hero .title {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}
.hero .cardsBox {
  width: 1000px;
  margin: 0 auto;
  padding: 0 270px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  row-gap: 30px;
  column-gap: 50px;
}
.hero .cardsBox .card {
  width: 120px;
  height: 180px;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.hero .cardsBox .card .cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.hero .cardsBox .card .cardImage.front {
  border: 1px solid #000;
  transition: all 0.35s ease 0.35s;
  transform: rotateY(90deg);
}
.hero .cardsBox .card .cardImage.back {
  transition: all 0.35s ease;
}
.hero .cardsBox .card.reverse .cardImage.front {
  transform: rotateY(0deg);
}
.hero .cardsBox .card.reverse .cardImage.back {
  transform: rotateY(90deg);
}