main {
    width: 100%;
    height: 100vh;
    padding: 20px 40px;

    .title {
        width: 100%;
        text-align: center;
        color: $primary;
    }

    .cardsBox {
        width: 1000px;
        margin: 20px auto 0;
        padding: 20px 270px;
        display: grid;
        grid-template-columns: auto auto auto;
        row-gap: 35px;
        column-gap: 80px;


        .card {
            @include card;

            &.reverse{
                transform: rotateY(180deg);
            }
        }
    }

    .result {
        width: 100%;
        margin-top: 10px;
        text-align: center;
        font-size: 25px;
        color: $primary;
    }

    .counters {
        width: 100%;
        margin-top: 10px;
        display: flex;
        align-items: center;

        .scoreBox {
            width: 50%;
            text-align: center;

            span {
                color: $primary;
                font-size: 23px;
            }
        }

        .time {
            width: 50%;
            color: $primary;
            font-size: 23px;
            text-align: center;
        }
    }
}